@{
    ViewData["Title"] = "Wiki ID";
}

<div id="promo" style="height: 500px;">
    <div class="jumbotron" style="height: 200px;">
        <h1 style="font-size: 60px;"><strong>Welcome to Wiki ID</strong></h1>
        <p style="font-size: 20px;">Wiki ID - service, where you can create, edit and admin you Wiki like articles.</p>
    </div>
</div>
<div class="container">
    <h1 class="text-center" style="margin: 30px;margin-top: 30px;"><strong>Key Features</strong></h1>
    <div class="row justify-content-center" style="padding: 0px;padding-left: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 20px;">
        <div class="col-5" style="background: #f4ed7c;border-radius: 20px;margin-right: 30px;">
            <h1 style="text-align: center;margin: 10px;">Articles</h1>
            <p style="padding: 20px;font-size: 18px;">You can create, browse, edite and delete&nbsp;<a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%BA%D0%B8">wiki-pages</a>. Under each article you can make media-galeria from images and sounds. Articles also are grouped on categories.<br></p>
        </div>
        <div class="col-5" style="background: #b5d1e8;border-radius: 20px;margin-right: 30px;">
            <h1 style="text-align: center;margin: 10px;">Users</h1>
            <p style="padding: 20px;font-size: 18px;">Wiki id provides access levels on articles: global - available for everyone, edit and view groups, private - only for creator. Also creator of article can manage users in article's groups - add and delete them.<br></p>
        </div>
    </div>
</div>