#promo {
  text-align: center;
  padding: 50px;
  background: url(../../img/promo_image.jpg);
  background-size: cover;
}

#promo .jumbotron {
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 700px;
  margin: 0 auto;
}

